@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    scroll-behavior: smooth;
    transition-duration: 3s; 
}

body{
    /* background: #fff1f8 !important; */
    background: white !important;
}
.line-container {
    position: relative;
    width: 100%;
    height: 50px; /* Altura da linha */
  }
  
.line {
position: absolute;
top: 50%;
left: 100px;
right: 100px;
border-top: 1px solid #D69B19;; /* Estilo da linha */
}

.text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white; /* Cor de fundo para destacar o texto */
padding: 0 10px; /* Espaçamento ao redor do texto */
font-weight: bold;
font-size: 20px;
font-family: "Courgette", cursive;
}
/* header */
    .imagemLogo{
        width: 100%;
        height: 80px;
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .toolBar{
        height: 150px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .toolBar .imagemLogo img {
        height: 100%;
    }
    .toolBar hr {
        color: #D69B19;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .menu {
        display: flex;
        justify-content: center;    
    }
    .menu nav {
        background: transparent !important;
    }

    .navbar-nav a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: transform 0.3s ease;
        font-family: "Courgette", cursive;
    }

    .navbar-nav a:hover{
        color: #D69B19;
        transform: scale(1.1);

    }

/* section banner */
    .banner{
        width: 95%;
        height: 700px;
        margin-left: 45px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
/* section conjuntos */
    .card1{
        border-radius: 10px;
        border: 1px solid #D69B19;;
        height: 500px;
        width: 500px;
        margin-left: 25px;
    }

    .card1 img {
        width: 80%;
        height: 70%;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .card1 p {
        font-size: 15px;
        font-family: "Protest Riot", sans-serif;
        font-weight: bold;
    }

    .card1 h6 {
        font-size: 20px;
        color: #D69B19;
        font-family: "Courgette", cursive;
        font-weight: bold;
        font-style: normal;
    }

    .card1 hr {
        color: #D69B19;
        width: 90%;  
        margin-left: 15px;
    }

    .cards{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .descricaoConjunto {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
/* section Sobre nós */
    .sobreNós {
        width: 95%;
        height: 80vh;
        background: url(img/fundo3.jpg) no-repeat;
        margin-top: 30px;
        margin-left: 45px;
    }

    .sobreNós .container .content .left {
        display: flex; /* Ativar o modelo flexível */
        flex-direction: column; /* Definir a direção do layout como coluna */
    }

    /* .sobreNós .container .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #0f5c9e;
        height: 120px;
        color: white;
    } */

    .sobreNós .container .content .left img {
        width: 35%;
        margin-top: 30px;
    }

    .sobreNós .container .content .left h1 {
        font-size: 2rem;
        color: black;
        margin-bottom: 80px;
    }

    .sobreNós .container .content {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-between;
    }

    .sobreNós .container .content .left {
        width: 50%;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
    }

    .sobreNós .container .content .left p {
        font-size: 1.1rem;
        width: 90%;
        font-weight: 700;
        color: #D69B19;
        font-weight: bold;
    }

    .sobreNós .container .content .right {
        width: 50%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sobreNós .container .content .right .box {
        width: 70%;
        height: 360px;
        background: #0f5c9e;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.9s all;
    }

    .sobreNós .container .content .right .box:hover {
        transform: scale(1.1);
    }

    .sobreNós .container .right .box img {
        width: 350px;
        position: relative;
        top: -100px;
    }

    .sobreNós .container .right .box h1 {
        position: relative;
        top: -60px;
        color: white;
    }

    .sobreNós .container .right .box p {
        position: relative;
        top: -60px;
        color: white;
        padding: 20px;
        font-weight: 600;
    }

/* section banner final */
    .bannerFinal{
        width: 95%;
        height: 700px;
        margin-bottom: 20px;
        margin-left: 45px;
    }

    .bannerFinal img {
        width: 100%;
        height: 100%;
    }
/* footer */
    footer .container {
        width: 100%;
        height: 100px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .container .box {
        width: 33.3%;
        display: flex;
        justify-content: center;
    }

    footer .container .box img {
        width: 180px;
        margin-bottom: 8px;
    }

    footer .container .box i {
        padding: 0 20px;
        font-size: 1.3rem;
        color: #D69B19;
    }

    footer .container .box p {
        font-size: 1rem;
        color: #D69B19;
        line-height: 30px;
        font-weight: 500;
        font-family: "Courgette", cursive;
    }